:root {
    --font-default: "DM Sans", Arial, Helvetica, sans-serif;
    --font-slab: var(--font-default);
    --modal-duration: 0.8s;
    --primary-color: #232323;
    --secondary-color: #FE142F;
    --tertiary-color: #279e7a;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: var(--font-default);
    font-size: 18px;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}



/*---HEADER--------*/

.topnav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
}
.topnav .icon {
    display: none;
    color: var(--secondary-color);
}

.header-logo {
    width: 277px;
    display: flex;
    align-items: center;
}
.header-logo img {
    width: 100%;
}

.main-navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.main-navbar a {
    padding: 9px 15px;
    color: var(--primary-color);
    text-decoration: none;
}
.main-navbar a:hover {
    background-color: var(--secondary-color);
    border-radius: 8px;
    color: white;
    text-decoration: underline;
}


/*---HERO--------*/

main {
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 7px 2px rgba(0, 0, 0, 0.2);
}
.hero-section {
    display: flex;
    width: 100%;
    position: relative;
    flex-wrap: wrap;
}
.hero-section > button {
    display: none;
}

.hero-content {
    width: 40%;
    background-color: var(--primary-color);
    color: white;
    position: relative;
    z-index: 1;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.hero-headline {
    font-size: 6rem;
    font-weight: normal;
    white-space: nowrap;
}
.hero-text, .success-message-container p {
    width: 100%;
    font-weight: normal;
    padding: 20px 0;
    font-size: 1.5rem;
    line-height: 2.3rem;
}

.success-message-container p {
    text-align: center;
}

.hero-img {
    width: 60%;
    /* height: 70vh; */
}
.hero-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.btn-signup,
.btn-submit {
    background-color: var(--secondary-color);
    padding: 10px 25px;
    border-radius: 8px;
    border: 0;
    color: white;
    font-size: 1.5rem;
    margin-top: 20px;
}



.bground {
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow: auto;
    /* background-color: rgba(26, 39, 156, 0.4); */
    background-color: #E5E5E5;
    align-items: center;
    justify-content: center;
}
.bground.show {
    display: flex;
}
.bground .content {
    background-color: var(--primary-color);
    padding: 0 40px;
    border-radius: 8px;
    color: white;
    max-width: 540px;
    overflow-y: scroll;
    position: relative;
    box-shadow: 0px 12px 12px rgba(0, 0, 0, 0.25);
}

.close {
    position: absolute;
    right: 15px;
    top: 15px;
    width: 32px;
    height: 32px;
    opacity: 1;
    cursor: pointer;
    transform: scale(0.7);
  }
  .close:before,
  .close:after {
    position: absolute;
    left: 15px;
    content: " ";
    height: 33px;
    width: 3px;
    background-color: #fff;
  }
  .close:before {
    transform: rotate(45deg);
  }
  .close:after {
    transform: rotate(-45deg);
  }

.modal-body form {
    padding: 40px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-body label, form > p {
    font-family: var(--font-default);
    font-size: 1rem;
    font-weight: normal;
    margin: 10px 0;
}
.modal-body .text-control {
    padding: 8px;
    width: 100%;
    border-radius: 8px;
    font-size: 1.2rem;
    height: 48px;
    border: 0;
}

.formData[data-error]::after {
    content: attr(data-error);
    font-size: 0.4em;
    color: #e54858;
    display: block;
    margin-top: 7px;
    margin-bottom: 7px;
    text-align: right;
    line-height: 0.3;
    opacity: 1;
    transition: 0.3s;
  }
.formData[data-error-visible="true"]::after {
opacity: 1;
}
.formData[data-error-visible="true"] .text-control {
border: 2px solid #e54858;
}

/* .formData input:focus {
    border: 0;
    outline: none;
    border: 2px solid var(--tertiary-color);
}
.formData input:invalid {
    border: 2px solid var(--secondary-color);
} */

.formData input:focus {
    border: 0;
    outline: none;
}

.text-control.valid {
    border: 2px solid var(--tertiary-color);
}

.text-control.invalid {
    border: 2px solid var(--secondary-color);
}

.radio-container p.error-message.invalid,
.checkbox-error-message.invalid {
    display: block;
}


form > p {
    padding-top: 20px;
    display: flex;
    align-self: flex-start;
}
p.error-message, p.checkbox-error-message {
    width: 100%;
    font-size: .7rem;
    color: var(--secondary-color);
    padding-top: 10px;
    /* display: block; */
    display: none;
}
form ul.form-container,
form ul.radio-container,
form ul.checkbox-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    list-style: none;
}
form ul.radio-container {
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}
form ul.form-container li {
    display: flex;
    flex-direction: column;
    width: auto;
}

form ul.radio-container li {
    display: flex;
    align-items: center;
    margin-right: 20px;
    position: relative;
    cursor: pointer;
}
form ul.radio-container li label,
form ul.checkbox-container li label {
    margin-left: 35px;
    font-size: 12px;
}
form ul.radio-container li input,
form ul.checkbox-container li input {
    position: absolute;
    opacity: 0;
    height: 25px;
    width: 25px;
    z-index: 3;
    cursor: pointer;
}
form ul.radio-container li .radio-icon,
form ul.checkbox-container li .checkbox-icon {
    position: absolute;
    height: 26px;
    width: 26px;
    border: 1px solid var(--tertiary-color);
    border-radius: 50%;
    cursor: pointer;
}

form ul.radio-container li input:checked ~ .radio-icon:after,
form ul.checkbox-container li input:checked ~ .checkbox-icon:after {
    content: "";
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--tertiary-color);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

form ul.checkbox-container {
    padding-top: 20px;
}

form ul.checkbox-container li {
    margin: 10px 0;
}
form ul.checkbox-container li .checkbox-icon {
    background-color: #C4C4C4;
    border: 0;
    border-radius: 6px;
}

form ul.checkbox-container li input:checked ~ .checkbox-icon {
    background-color: var(--tertiary-color);
}
form ul.checkbox-container li input:checked ~ .checkbox-icon:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
    border-radius: 0;
}

.success-message-container {
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--primary-color);
    display: none;
    align-items: center;
    justify-content: center;
}


.success-message-container.show {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    padding: 50px;
}


.close-btn {
    padding: 10px 20px;
    background-color: var(--secondary-color);
    border-radius: 6px;
    position: absolute;
    bottom: 50px;
    cursor: pointer;
}






/*---FOOTER--------*/

footer {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}
.copyrights {
    font-size: 1rem;
    color: var(--secondary-color);
    padding-top: 50px;
}


@media screen and (max-width: 800px) {

}


@media screen and (max-width: 768px) {
    body {
        padding: 0 30px;
    }
    .topnav {
        padding: 30px 0;
    }
    .topnav a {
        display: none;
    }
    .topnav a.icon {
        display: flex;
    }
    .topnav a.icon:hover {
        text-decoration: none;
    }
    .header-logo {
        width: 100px;
    }


    /*---HERO------*/

    main {
        border-radius: 0;
        box-shadow: unset;
    }
    .hero-section {
        justify-content: center;
    }

    .hero-section > button {
        display: flex;
        margin: 20px 0;
    }

    .hero-content {
        width: 100%;
        padding: 0;
        background-color: transparent;
        color: var(--primary-color);
    }
    .hero-content > button {
        display: none;
    }
    .hero-headline {
        font-size: 3rem;
        line-height: 3.5rem;
        white-space: normal;
    }
    .hero-text {
        width: unset;
        font-size: 1rem;
        line-height: 1.5rem;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .hero-img {
        width: 100%;
        height: unset;
        border-radius: 8px;
        overflow: hidden;
    }



    /*---FORM---------*/

    .bground {
        height: unset;
        position: absolute;
        margin-top: 90px;
        overflow-y: scroll;
    }
    .bground .content {
        border-radius: 0;
    }



    /*---FOOTER--------*/

    footer {
        justify-content: center;
    }
    .copyrights {
        font-size: 10px;
        padding-top: 10px;
        padding-bottom: 20px;
    }




}


@media screen and (max-width: 540px) {

}


